.container {
  margin-top: 17rem;
}

.name {
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.profileContainer {
  width: 500px;
}

@media screen and (max-width: 600px) {
  .container {
    margin-top: 10rem;
  }
  .profileContainer {
    width: auto;
  }
}
