.container {
  margin-top: 17rem;
}

.name {
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 2rem;
  word-break: keep-all;
  line-height: 2.1rem;

  .small {
    font-size: 1rem;
    font-weight: 400;
    display: inline-block;
  }
}

.profileContainer {
  width: 500px;
  p {
    font-size: 0.9rem;
    margin-bottom: 2rem;
    line-height: 1.8rem;
  }
}

@media screen and (max-width: 600px) {
  .container {
    margin-top: 10rem;
  }
  .profileContainer {
    width: auto;
    .en {
      font-size: 0.8rem;
      line-height: 1.5rem;
    }
  }
}
