.container {
  mix-blend-mode: exclusion;
}
.componentWrapper {
  mix-blend-mode: screen;
}

.effect {
  background: #333;
  color: white;
  transform: translateZ(0);
  will-change: filter;
}

.noEffect {
  color: white;
}
