.componentWrapper {
  mix-blend-mode: var(--inkfilter-blend-mode);
}

.effect {
  background: var(--inkfilter-background-color);
  // background: var(--background-color);
  color: var(--text-color);
}
