.container {
  mix-blend-mode: exclusion;
}

.effect {
  color: white;
  transform: translate3d(0, 0, 0);
  will-change: filter;
}

.adjusterForFilter {
  background: #666;
}

.noEffect {
  color: white;
}
