.container {
  margin-left: 7rem;
  display: flex;
  gap: 3rem;
}

.textWrapper {
  margin-top: 20vh;
  width: 30vw;
}

.imageContainer {
  position: relative;
  display: flex;
  height: 100vh;
  width: 40vw;
  flex-direction: column;
  gap: 1rem;
}

.imageWrapper {
  position: relative; /* fillを使うなら必須 */
  width: 100%;
  aspect-ratio: 4 / 3; /* 任意: アスペクト比を固定したい場合 */
  /* heightをpxや%で固定する実装でも問題ありません */
}

.nextLink {
  position: fixed;
  right: 2.5vw;
  bottom: 4rem;
  text-decoration: none;
  color: var(--text-color);
}

.nextButton {
  background-color: var(--text-color);
  font-size: 0.8rem;
  width: 3.5rem;
  border-radius: 2rem;
  text-align: center;
  color: var(--background-color);
  margin-bottom: 0.5rem;
}
.nextLinkTitle {
  display: flex;
  gap: 1rem;
}

.credit {
  font-size: 0.8rem;
}

@media screen and (max-width: 600px) {
  .textWrapper {
    margin-top: 10vh;
    width: 77vw;
  }
  .container {
    margin-left: 4rem;
    flex-direction: column-reverse;
  }

  .imageContainer {
    position: fixed;
    bottom: 10rem;
    left: 4rem;
    width: 200vw;
    height: 30vh;
    flex-direction: row;
    gap: 0;
  }

  .nextLink {
    text-align: center;
    left: 0;
    right: auto;
    width: 100vw;
  }

  .nextButton {
    margin: 0 auto 0.5rem;
  }

  .nextLinkTitle {
    margin: 0 auto;
    // width: 100%;
    justify-content: center;
  }

  .image {
    width: 100vw;
  }

  .credit {
    font-size: 0.6rem;
  }
}
