.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -100;
  background-position: center;
}

.titleContainer {
  margin-left: 10vw;
  height: 70vh;
  padding-top: 30vh;
  // color: white;
  position: relative;
  // mix-blend-mode: difference;
}

.credit {
  width: 40vw;
  font-size: 0.8rem;
  position: absolute;
  bottom: 10vh;
  white-space: pre-wrap;
  word-break: break-word;
  box-sizing: border-box;
  line-break: strict;
}

.year {
  font-size: 1rem;
}

@media screen and (max-width: 600px) {
  .titleContainer {
    margin-left: 15vw;
  }
}
