.container {
  margin-left: 15rem;
  margin-top: 20rem;
}

.name {
  margin-bottom: 2rem;
}

.profileContainer {
  width: 500px;
}

@media screen and (max-width: 600px) {
  .profileContainer {
    width: auto;
  }
}
