* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-color: #191919;
  --text-color: white;
  --selection-background-color: white;
  --selection-text-color: black;
  --inkfilter-blend-mode: screen;
  --inkfilter-background-color: #333;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100%;
}
#__next {
  width: 100%;
  height: 100%;
}

::selection {
  background: var(--selection-background-color);
  color: var(--selection-text-color);
}
