.container {
  margin-top: 17rem;
}

.textContainer {
  width: 92vw;
  margin: 200px 0 0 7vw;
  display: flex;
  justify-content: space-between;
  color: var(--text-color);
}

@media screen and (max-width: 600px) {
  .textContainer {
    width: 83vw;
    margin: 0px 0 0 17vw;
    margin-bottom: 10rem;
    flex-direction: column;
    gap: 3rem;
  }

  .container {
    margin-top: 5rem;
  }
}
