.container {
  margin-top: 10rem;
}

.name {
  margin-bottom: 2rem;
}

.textContainer {
  width: 90vw;
  margin: 200px auto;
  display: flex;
  justify-content: space-between;
  color: var(--text-color);
}

.profileContainer {
  width: 500px;
}

@media screen and (max-width: 600px) {
  .textContainer {
    width: 90vw;
    margin-bottom: 10rem;
    flex-direction: column;
    gap: 3rem;
  }

  .container {
    margin-top: 5rem;
  }

  .profileContainer {
    width: auto;
  }
}
