.container {
  margin-top: 10rem;
}

.name {
  margin-bottom: 2rem;
}

.year {
  margin-left: 1rem;
  font-size: 0.8rem;
}

.workIndexContainer {
  width: 50vw;
}

.workTitleWrapper {
  padding: 0.5rem 0.5rem 1rem;
  border-bottom: 1px solid #ccc;
  background-color: black;
}

.workTitleWrapper:hover {
  background-color: white;
  color: black;
}

.textContainer {
  width: 90vw;
  margin: 200px auto;
  display: flex;
  justify-content: space-between;
}
.carrierContainer {
  width: 400px;
}
.carrierItem {
  font-size: 0.9rem;
  display: flex;
  gap: 1rem;
  margin-bottom: 0.5rem;
}

.profileImageWrapper {
  height: 10rem;
  width: 13rem;
  text-align: center;
  margin: 0 10vw 3rem;
  transition: all 1s ease;
}

.profileImage {
  height: 100%;
}

.profileImageWrapper.active {
  opacity: 1;
}

.profileContainer {
  width: 500px;
}

@media screen and (max-width: 600px) {
  .profileImageWrapper {
    height: 7rem;
    text-align: left;
    margin: 0 5vw 2rem;
  }
  .textContainer {
    width: 90vw;
    margin-bottom: 10rem;
    flex-direction: column;
    gap: 3rem;
  }

  .container {
    margin-top: 5rem;
  }

  .profileContainer,
  .carrierContainer {
    width: auto;
  }

  .workIndexContainer {
    width: 100%;
  }
}
