.container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.workWrapper {
  width: 25%;
  padding-right: 3rem;
  margin-bottom: 3rem;
  .workTitle {
    font-weight: normal;
    font-size: 0.8rem;
  }

  .thumbnail {
    width: 100%;
    aspect-ratio: 4 / 3; /* アスペクト比を4:3に固定 */
    margin-bottom: 0.5rem;
  }

  .year {
    margin-left: 1rem;
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 600px) {
  .container {
    width: 100%;
  }

  .workWrapper {
    width: 100%;
    padding: 0;
    margin-bottom: 1.5rem;
    .workTitle {
      font-size: 0.8rem;
    }
  }
}
