.year {
  margin-left: 1rem;
  font-size: 0.8rem;
}

.workIndexContainer {
  width: 50vw;
}

.workTitleWrapper {
  padding: 0.5rem 0.5rem 1rem;
  border-bottom: 1px solid var(--text-color);
}

.workTitle {
  font-weight: normal;
}

.tableName {
  margin-bottom: 2rem;
}

.workTitleWrapper:hover {
  background-color: var(--text-color);
  color: var(--background-color);
}

@media screen and (max-width: 600px) {
  .profileImageWrapper {
    height: 7rem;
    text-align: left;
    margin: 0 5vw 2rem;
  }
  .textContainer {
    width: 90vw;
    margin-bottom: 10rem;
    flex-direction: column;
    gap: 3rem;
  }

  .container {
    margin-top: 5rem;
  }

  .profileContainer,
  .carrierContainer {
    width: auto;
  }

  .workIndexContainer {
    width: 100%;
  }
}
